@font-face {
  font-family: 'fira_sans';
  src: url("../fonts/fira/firasans-light.eot");
  src: url("../fonts/fira/firasans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-light.woff") format("woff"), url("../fonts/fira/firasans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'fira_sans';
  src: url("../fonts/fira/firasans-regular.eot");
  src: url("../fonts/fira/firasans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-regular.woff") format("woff"), url("../fonts/fira/firasans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'fira_sans';
  src: url("../fonts/fira/firasans-bold.eot");
  src: url("../fonts/fira/firasans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-bold.woff") format("woff"), url("../fonts/fira/firasans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "fira_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33333;
  color: #1e1e1e;
  background-color: #ffffff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #1e1e1e;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center; }
  h2 span {
    color: #c8181e; }
  @media (min-width: 768px) {
    h2 {
      font-size: 40px; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 48px; } }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.slider-nav {
  top: 50%;
  width: 11px;
  height: 49px;
  cursor: pointer;
  margin-top: -25px;
  position: absolute;
  display: inline-block;
  background: url("../img/slider-arrow.png") no-repeat; }
  .slider-nav.prev {
    left: 0;
    background-position: 0 0; }
    .slider-nav.prev:hover {
      background-position: 0 -49px; }
  .slider-nav.next {
    right: 0;
    background-position: -11px 0; }
    .slider-nav.next:hover {
      background-position: -11px -49px; }

.modal {
  color: #fff;
  background: #c8181e;
  max-width: 320px;
  padding: 30px 20px; }
  .modal .btn {
    width: 100%; }
  .modal h2 {
    margin-bottom: 10px; }
  .modal h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 30px; }
  .modal .subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 35px;
    text-align: center; }
  .modal p {
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    max-width: 260px; }
  .modal .form-text {
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
    text-align: center;
    margin-bottom: 40px; }
  @media (min-width: 768px) {
    .modal {
      width: 460px;
      max-width: inherit;
      padding: 30px 40px;
      border: 20px solid #fff; } }
  @media (min-width: 992px) {
    .modal {
      width: 630px;
      height: 630px;
      padding: 100px 80px 50px 80px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; } }

.fancybox-skin {
  background: transparent; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  box-shadow: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1210px) {
    .container {
      width: 1180px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1210px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.btn {
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  background: transparent;
  overflow: hidden !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .btn i {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    font-style: normal;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 15px 30px;
    display: inline-block;
    border: 3px solid transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
  .btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
    z-index: -1; }
  .btn:hover span {
    width: 1000px;
    height: 1000px; }
  .btn:active {
    top: 1px; }
  @media (min-width: 768px) {
    .btn i {
      font-size: 18px; } }

.btn-red {
  color: #fff; }
  .btn-red i {
    color: #c8181e;
    border-color: #c8181e; }
  .btn-red span {
    background: #c8181e; }
  .btn-red:hover {
    color: #fff; }
    .btn-red:hover i {
      color: #fff;
      border-color: #c8181e; }
  .btn-red:active i {
    background: #c8181e;
    border-color: #c8181e; }
  .btn-red:active span {
    background: #c8181e; }

.btn-white {
  color: #fff; }
  .btn-white i {
    color: #fff;
    border-color: #fff; }
  .btn-white span {
    background: #fff; }
  .btn-white:hover {
    color: #1e1e1e; }
    .btn-white:hover i {
      color: #1e1e1e;
      border-color: #fff; }
  .btn-white:active i {
    background: #fff;
    border-color: #c8181e; }
  .btn-white:active span {
    background: #fff; }

.btn-dark {
  color: #fff; }
  .btn-dark i {
    color: #fff;
    border-color: #c8181e; }
  .btn-dark span {
    background: #c8181e; }
  .btn-dark:hover {
    color: #fff; }
    .btn-dark:hover i {
      border-color: #c8181e; }
  .btn-dark:active i {
    background: #c8181e;
    border-color: #c8181e; }
  .btn-dark:active span {
    background: #c8181e; }

.btn-md {
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .btn-md i {
      font-size: 20px; } }

.btn-sm i {
  font-size: 16px;
  padding: 8px 20px; }
@media (min-width: 768px) {
  .btn-sm i {
    font-size: 16px; } }

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px; }
  50% {
    left: 50%;
    width: 20px;
    height: 20px; }
  100% {
    left: 50%;
    width: 375px;
    height: 375px; } }
@keyframes criss-cross-left {
  0% {
    left: -20px; }
  50% {
    left: 50%;
    width: 20px;
    height: 20px; }
  100% {
    left: 50%;
    width: 375px;
    height: 375px; } }
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px; }
  50% {
    right: 50%;
    width: 20px;
    height: 20px; }
  100% {
    right: 50%;
    width: 375px;
    height: 375px; } }
@keyframes criss-cross-right {
  0% {
    right: -20px; }
  50% {
    right: 50%;
    width: 20px;
    height: 20px; }
  100% {
    right: 50%;
    width: 375px;
    height: 375px; } }
.form-control {
  margin: 0;
  width: 100%;
  color: #929292;
  outline: none;
  font-size: 15px;
  line-height: 18px;
  background: #fff;
  display: inline-block;
  border: 1px solid #fff;
  padding: 20px 20px 20px 65px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .form-control::-moz-placeholder {
    color: #929292;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #929292; }
  .form-control::-webkit-input-placeholder {
    color: #929292; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus {
    color: #1e1e1e;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5); }
    .form-control:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control:focus::-webkit-input-placeholder {
      color: transparent; }
  .form-control.form-user {
    background: #fff url("../img/icon-user.png") 18px 0 no-repeat; }
  .form-control.form-phone {
    background: #fff url("../img/icon-phone.png") 18px 0 no-repeat; }

.red .form-control {
  color: #c8181e; }
  .red .form-control::-moz-placeholder {
    color: #c8181e;
    opacity: 1; }
  .red .form-control:-ms-input-placeholder {
    color: #c8181e; }
  .red .form-control::-webkit-input-placeholder {
    color: #c8181e; }
  .red .form-control.form-user {
    background-position: 18px -60px; }
  .red .form-control.form-phone {
    background-position: 18px -60px; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 12px; }

@media (max-width: 600px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 25px;
    border: 1px solid #f1f1f1;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive .table {
      margin-bottom: 0; } }
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); } }
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); } }
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* animation */
@keyframes icon-bounce {
  0%, 100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }
@-webkit-keyframes icon-bounce {
  0%, 100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }
@-moz-keyframes icon-bounce {
  0%, 100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }
@-o-keyframes icon-bounce {
  0%, 100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }
.hvr-rotate:hover {
  -webkit-animation: icon-bounce 0.5s alternate;
  -moz-animation: icon-bounce 0.5s alternate;
  -o-animation: icon-bounce 0.5s alternate;
  animation: icon-bounce 0.5s alternate; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1209px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1209px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1209px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1209px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1210px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1210px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1210px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1210px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1209px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1210px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.footer {
  color: #dee1e3;
  padding: 30px 0;
  background: #1e1e1e;
  text-align: center; }
  .footer .footer-logo {
    width: 140px;
    margin: 0 auto 25px auto; }
  .footer .footer-contact {
    margin-bottom: 25px; }
    .footer .footer-contact li {
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      position: relative;
      margin-bottom: 13px; }
      .footer .footer-contact li:last-child {
        margin-bottom: 0; }
      .footer .footer-contact li a {
        color: #dee1e3;
        text-decoration: none; }
  .footer .footer-text {
    font-size: 15px;
    font-weight: 300;
    line-height: 22px; }
    .footer .footer-text p {
      margin-bottom: 20px; }
  .footer .footer-copyright {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .footer {
      text-align: left; }
      .footer .footer-logo {
        float: left;
        width: 146px;
        margin: 0 75px 25px 0; }
      .footer .footer-contact {
        float: right;
        width: 480px;
        padding-top: 10px; }
        .footer .footer-contact li {
          padding-left: 45px; }
          .footer .footer-contact li:before {
            top: 0;
            left: 0;
            content: '';
            width: 18px;
            height: 18px;
            background: #fff;
            position: absolute;
            display: inline-block;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
      .footer .footer-text {
        width: 100%;
        float: left; }
      .footer .footer-copyright {
        text-align: right; } }
  @media (min-width: 992px) {
    .footer .footer-logo {
      margin-bottom: 0; }
    .footer .footer-contact {
      float: left;
      width: 300px;
      margin-bottom: 0; }
    .footer .footer-text {
      float: right;
      width: 400px;
      padding-top: 10px; } }
  @media (min-width: 1210px) {
    .footer .footer-text {
      width: 560px; } }

.b01 {
  color: #fff;
  background: #fff;
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px; }
  .b01:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 15;
    position: absolute;
    background: rgba(30, 30, 30, 0.9); }
  .b01:after {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    content: '';
    height: 120px;
    position: absolute;
    background: url("../img/b01_pattern.png") 50% 100% no-repeat; }
  .b01 .inner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    position: absolute; }
    .b01 .inner .video-inner {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative; }
  .b01 .container {
    z-index: 100; }
  .b01 .top {
    margin-bottom: 90px; }
    .b01 .top .logo {
      width: 140px;
      margin: 0 auto 10px auto; }
    .b01 .top .logo-text {
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;
      margin-bottom: 10px; }
    .b01 .top .contact {
      text-align: center; }
      .b01 .top .contact li:last-child {
        margin-bottom: 0; }
      .b01 .top .contact li .btn-callback {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        padding-bottom: 2px;
        margin-bottom: 5px;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px dotted #fff; }
        .b01 .top .contact li .btn-callback:hover {
          color: #c8181e;
          border-color: #c8181e; }
      .b01 .top .contact li .tel {
        color: #fff;
        margin: 10px 0;
        font-size: 26px;
        line-height: 36px;
        text-decoration: none;
        display: inline-block;
        padding: 10px 0 10px 60px;
        background: url("../img/icon-telephone.png") 0 50% no-repeat; }
      .b01 .top .contact li .address {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px; }
  .b01 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.166;
    text-align: center;
    margin-bottom: 15px; }
  .b01 .subtitle {
    max-width: 760px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.166;
    text-align: center;
    margin: 0 auto 50px auto; }
  .b01 .btn {
    margin-bottom: 80px; }
  .b01 .btn-down {
    width: 68px;
    height: 68px;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    background: url("../img/icon-down.png") 0 0 no-repeat; }
  @media (min-width: 768px) {
    .b01 {
      padding-top: 40px;
      padding-bottom: 60px; }
      .b01 .top {
        margin-bottom: 140px; }
        .b01 .top .logo {
          float: left;
          width: 146px;
          margin: 0 30px 0 0; }
        .b01 .top .logo-text {
          float: left;
          text-align: left;
          margin: 30px 0 0 0;
          padding-left: 20px;
          border-left: 2px solid #fff; }
          .b01 .top .logo-text span {
            display: block; }
        .b01 .top .contact {
          float: right;
          text-align: right; }
          .b01 .top .contact li .tel {
            margin: 0;
            font-size: 35px; }
          .b01 .top .contact li .address {
            max-width: 210px;
            display: inline-block; }
      .b01 h1 {
        font-size: 50px; }
      .b01 .subtitle {
        font-size: 30px;
        margin-bottom: 70px; }
      .b01 .btn {
        margin-bottom: 140px; } }
  @media (min-width: 992px) {
    .b01 h1 {
      font-size: 60px; } }
  @media (min-width: 1210px) {
    .b01 .inner {
      display: block; } }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16 / 9) {
  video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  video {
    width: 300%;
    left: -100%; } }
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; } }
.b02 {
  background: #fff;
  padding-top: 65px; }
  .b02 .heading-logo {
    width: 80px;
    margin: 0  auto 30px auto; }
  .b02 h2 {
    max-width: 820px;
    margin: 0 auto 60px auto; }
  .b02 .advantage li {
    padding: 0 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    margin-bottom: 40px; }
    .b02 .advantage li span {
      width: 150px;
      display: block;
      margin: 0 auto 25px auto; }
  @media (min-width: 768px) {
    .b02 {
      padding-bottom: 60px; }
      .b02 .heading-logo {
        width: 100px;
        margin-bottom: 60px; }
      .b02 h2 {
        margin-bottom: 100px; }
      .b02 .advantage {
        margin: 0 -15px; }
        .b02 .advantage li {
          width: 25%;
          float: left;
          margin-bottom: 0; } }
  @media (min-width: 1210px) {
    .b02 .advantage {
      margin: 0; }
      .b02 .advantage li {
        padding: 0 40px; } }

.b03 {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 70px; }
  .b03 .heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 10px; }
  .b03 .partners {
    padding: 0 40px;
    position: relative; }
    .b03 .partners .partners-item img {
      margin: 0 auto;
      max-width: 100px; }
  @media (min-width: 768px) {
    .b03 .heading {
      float: left;
      width: 170px; }
    .b03 .partners {
      width: 520px;
      float: right; } }
  @media (min-width: 992px) {
    .b03 .partners {
      width: 740px; } }
  @media (min-width: 1210px) {
    .b03 .partners {
      width: 956px; } }

.b04 {
  max-width: 100%;
  overflow: hidden;
  background: url("../img/b04_bg.jpg") 65% 0 no-repeat;
  background-size: cover; }
  .b04 .container {
    padding-top: 70px;
    padding-bottom: 40px; }
  .b04 .content {
    z-index: 20;
    position: relative; }
  .b04 .bg-image {
    z-index: 5;
    width: 443px;
    height: 665px;
    bottom: 0;
    display: none;
    position: absolute;
    background: url("../img/b04_man.png") 0 0 no-repeat; }
  .b04 h2 {
    text-align: left;
    max-width: 690px;
    margin-bottom: 40px; }
  .b04 .problems li {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    padding-left: 40px;
    position: relative;
    margin-bottom: 20px; }
    .b04 .problems li:before {
      top: 2px;
      left: 0;
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      background: #c8181e;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .b04 .problems li:last-child {
      margin-bottom: 0; }
  @media (min-width: 768px) {
    .b04 {
      background-size: auto;
      background-position: 50% 0; }
      .b04 .container {
        height: 960px;
        padding-top: 90px; }
      .b04 .bg-image {
        left: -190px;
        display: block; }
      .b04 h2 {
        margin-bottom: 80px; }
      .b04 .problems {
        margin-left: 200px; } }
  @media (min-width: 992px) {
    .b04 .container {
      padding-top: 130px; }
    .b04 .bg-image {
      left: 10px; }
    .b04 .problems {
      margin-left: 400px; } }
  @media (min-width: 1210px) {
    .b04 .problems {
      margin-left: 600px; } }

.b05 {
  max-width: 100%;
  overflow: hidden;
  background: #f3f3f3;
  position: relative; }
  .b05 .container {
    padding-top: 80px;
    padding-bottom: 30px; }
  .b05 .bg-image {
    z-index: 5;
    width: 400px;
    height: 640px;
    bottom: 0;
    display: none;
    position: absolute;
    background: url("../img/b05_man.png") 0 0 no-repeat; }
  .b05 .content {
    z-index: 20;
    position: relative; }
  .b05 h2 {
    margin-bottom: 40px; }
  .b05 .text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center; }
  .b05 .rows > li:last-child {
    display: none; }
  .b05 .progress {
    width: 99px;
    height: 518px;
    position: relative;
    margin-top: -20px;
    background: url("../img/progress_bar.png") 0 0 no-repeat; }
    .b05 .progress .progress-bar {
      left: 0;
      bottom: 0;
      width: 99px;
      height: 20px;
      position: absolute;
      background: url("../img/progress_bar_bg.png") 0 100% no-repeat;
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s; }
      .b05 .progress .progress-bar.scroll-animated {
        height: 463px;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s; }
    .b05 .progress .progress-text {
      left: 65px;
      top: -105px;
      width: 255px;
      height: 107px;
      position: absolute;
      background: url("../img/b05_progress_text.png") 0 0 no-repeat; }
  .b05 .features {
    margin: 0 auto;
    max-width: 240px; }
    .b05 .features li {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;
      margin-bottom: 55px; }
      .b05 .features li .features-icon {
        width: 147px;
        margin: 0 auto 20px auto; }
      .b05 .features li p {
        margin-bottom: 0; }
  @media (min-width: 768px) {
    .b05 .text {
      font-size: 30px; }
    .b05 .features {
      max-width: inherit; }
      .b05 .features li {
        width: 50%;
        float: left;
        padding: 0 40px; } }
  @media (min-width: 992px) {
    .b05 {
      background-position: 45% 100%; }
      .b05 .bg-image {
        right: -150px;
        display: block; }
      .b05 h2 {
        float: right;
        max-width: 760px;
        text-align: right;
        margin-bottom: 70px; }
      .b05 .text {
        margin-bottom: 0;
        text-align: left; }
      .b05 .rows > li {
        float: left; }
        .b05 .rows > li:first-child {
          width: 490px;
          padding-top: 80px; }
        .b05 .rows > li:last-child {
          display: block;
          padding-left: 50px; }
      .b05 .features {
        margin: 0 -30px; }
        .b05 .features li {
          padding: 0 30px; } }
  @media (min-width: 1210px) {
    .b05 {
      background-position: 50% 100%; }
      .b05 .bg-image {
        right: 0; } }

.b06 {
  color: #fff;
  overflow: hidden;
  padding: 60px 0;
  max-width: 100%; }
  .b06 h2 {
    color: #fff;
    margin-bottom: 10px; }
  .b06 .subtitle {
    max-width: 640px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.166;
    text-align: center;
    padding-bottom: 40px;
    margin: 0 auto 45px auto;
    background: url("../img/b06_subtitle_bg.png") 50% 100% no-repeat; }
  .b06 .form-group {
    margin-bottom: 20px; }
  .b06 p {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center; }
  .b06 .btn i {
    padding: 15px 15px; }
  @media (min-width: 768px) {
    .b06 .subtitle {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .b06 .btn {
      width: 100%; } }

.b07 {
  background: #fff;
  padding-top: 70px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 70px; }
  .b07 .heading-logo {
    width: 80px;
    margin: 0  auto 30px auto; }
  .b07 h2 {
    max-width: 820px;
    margin: 0 auto 60px auto; }
  .b07 .service {
    margin-bottom: 90px; }
    .b07 .service.service-one {
      background: url("../img/serivce-one.jpg") 50% 0 no-repeat; }
      .b07 .service.service-one .service-text .text {
        max-width: 395px; }
    .b07 .service.service-two {
      background: url("../img/serivce-two.jpg") 50% 0 no-repeat; }
    .b07 .service .service-text {
      margin-bottom: 60px; }
      .b07 .service .service-text h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 10px; }
        .b07 .service .service-text h3 span {
          color: #c8181e; }
      .b07 .service .service-text .text {
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
        margin-bottom: 50px; }
      .b07 .service .service-text ul {
        margin-bottom: 40px; }
        .b07 .service .service-text ul li {
          font-size: 16px;
          font-weight: 300;
          line-height: 22px;
          padding-left: 40px;
          position: relative;
          margin-bottom: 20px; }
          .b07 .service .service-text ul li:last-child {
            margin-bottom: 0; }
          .b07 .service .service-text ul li:before {
            top: 2px;
            left: 0;
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            background: #c8181e;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
    .b07 .service .service-promo {
      color: #fff;
      padding: 35px 30px;
      background: #c8181e;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(200, 24, 30, 0.6);
      box-shadow: 0px 0px 30px 0px rgba(200, 24, 30, 0.6); }
      .b07 .service .service-promo .promo-title {
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
        max-width: 250px;
        margin-bottom: 35px; }
      .b07 .service .service-promo ul {
        padding-left: 20px;
        border-left: 2px solid #fff; }
        .b07 .service .service-promo ul li {
          font-size: 16px;
          font-weight: 300;
          line-height: 22px;
          margin-bottom: 22px; }
  .b07 .price {
    width: 100%;
    min-width: 600px;
    margin-bottom: 45px; }
    .b07 .price tr:nth-child(1) td:nth-child(1) {
      background: transparent; }
    .b07 .price tr:nth-child(1) td:nth-child(2) {
      -webkit-border-radius: 7px 7px 0 0;
      -moz-border-radius: 7px 7px 0 0;
      -ms-border-radius: 7px 7px 0 0;
      border-radius: 7px 7px 0 0; }
    .b07 .price td {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      vertical-align: middle;
      border-bottom: 1px solid #c8181e; }
      .b07 .price td:nth-child(1) {
        text-align: left;
        padding: 15px 10px 15px 40px;
        background: url("../img/price-bullet.jpg") 0 17px no-repeat; }
        .b07 .price td:nth-child(1) p {
          margin-bottom: 0;
          font-weight: 700; }
        .b07 .price td:nth-child(1) ul {
          margin-left: 20px; }
      .b07 .price td:nth-child(2) {
        color: #fff;
        width: 25%;
        font-size: 20px;
        padding: 15px 10px;
        text-align: center;
        background: #c8181e;
        border-bottom-color: #fff;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(200, 24, 30, 0.6);
        box-shadow: 0px 0px 30px 0px rgba(200, 24, 30, 0.6); }
      .b07 .price td:nth-child(3) {
        width: 25%;
        font-size: 20px;
        text-align: center;
        padding: 15px 10px; }
        .b07 .price td:nth-child(3) span {
          text-decoration: line-through; }
    .b07 .price .price-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      max-width: 370px; }
      .b07 .price .price-title span {
        color: #c8181e; }
    .b07 .price .price-action strong {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      display: block; }
    .b07 .price .price-action span {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px; }
  @media (min-width: 768px) {
    .b07 {
      padding-top: 120px; }
      .b07 .heading-logo {
        width: 100px;
        margin-bottom: 50px; }
      .b07 h2 {
        margin-bottom: 100px; }
      .b07 .service .service-text {
        float: left;
        width: 320px;
        margin-bottom: 0; }
      .b07 .service .service-promo {
        float: right;
        width: 360px; } }
  @media (min-width: 992px) {
    .b07 .service {
      margin-bottom: 130px; }
      .b07 .service.service-two .service-text ul {
        margin-bottom: 80px; }
      .b07 .service .service-text {
        float: left;
        width: 440px;
        margin-bottom: 0; }
        .b07 .service .service-text ul {
          margin-bottom: 60px; }
      .b07 .service .service-promo {
        width: 440px;
        background: #c8181e url("../img/b07_f.png") 100% 0 no-repeat; }
    .b07 .price td:nth-child(1) ul {
      margin-left: 40px; }
    .b07 .price td:nth-child(2) {
      font-size: 25px;
      line-height: 30px; }
    .b07 .price td:nth-child(3) {
      font-size: 25px;
      line-height: 30px; }
    .b07 .price .price-title {
      font-size: 35px;
      line-height: 42px; }
    .b07 .price .price-action strong {
      font-size: 35px;
      line-height: 40px; } }
  @media (min-width: 1210px) {
    .b07 .service .service-text {
      width: 520px; }
      .b07 .service .service-text h3 {
        font-size: 35px; }
    .b07 .service .service-promo {
      width: 490px;
      margin-right: 40px;
      padding: 40px 40px; } }

.b08 {
  padding-top: 80px;
  padding-bottom: 30px;
  background: #f3f3f3; }
  .b08 h2 {
    margin-bottom: 60px; }
  .b08 .reason {
    max-width: 360px;
    margin: 0 auto; }
    .b08 .reason li {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;
      position: relative;
      margin-bottom: 45px;
      padding: 110px 0 0 0; }
      .b08 .reason li .reason-icon {
        top: 0;
        left: 50%;
        width: 100px;
        margin-left: -50px;
        position: absolute; }
      .b08 .reason li h4 {
        font-size: 21px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 15px; }
      .b08 .reason li p {
        margin-bottom: 15px; }
      .b08 .reason li a {
        color: #c8181e;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px dotted #c8181e; }
  @media (min-width: 768px) {
    .b08 {
      padding-top: 110px;
      background: #fff url("../img/b08_bg.png") 50% 0 no-repeat;
      background-size: auto auto; }
      .b08 h2 {
        text-align: left;
        display: inline-block;
        margin-bottom: 90px;
        padding-right: 95px;
        background: url("../img/b08_heading_bg.png") 100% 50% no-repeat; }
      .b08 .reason {
        max-width: 880px; }
        .b08 .reason li {
          float: left;
          width: 50%;
          text-align: left;
          padding: 80px 20px 0 105px; }
          .b08 .reason li.double-line {
            padding-top: 52px; }
          .b08 .reason li .reason-icon {
            left: 0;
            margin-left: 0; } }

.b09 {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 50px; }
  .b09 h2 {
    margin-bottom: 50px; }
  .b09 .review {
    padding: 0 20px;
    position: relative; }
    .b09 .review .review-item {
      border: none;
      outline: none;
      padding: 0 10px; }
      .b09 .review .review-item a {
        outline: none;
        display: block;
        margin-bottom: 15px; }
      .b09 .review .review-item h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 5px; }
      .b09 .review .review-item p {
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 0; }
    .b09 .review .slider-nav {
      top: 60px;
      margin-top: 0; }
  @media (min-width: 768px) {
    .b09 {
      padding-top: 100px;
      padding-bottom: 40px; }
      .b09 h2 {
        margin-bottom: 100px; }
      .b09 .review {
        padding: 0 25px; }
        .b09 .review .review-item {
          padding: 0 25px; } }

.b10 {
  color: #fff;
  padding: 70px 0 30px 0;
  background: url("../img/b10_bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .b10 h2 {
    color: #fff;
    margin-bottom: 70px; }
  .b10 .step {
    max-width: 360px;
    margin: 0 auto; }
    .b10 .step li {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;
      margin: 0 0 40px 0; }
      .b10 .step li .step-icon {
        width: 110px;
        margin: 0 auto 15px auto; }
      .b10 .step li span {
        display: block; }
      .b10 .step li p {
        margin-bottom: 10px; }
  @media (min-width: 768px) {
    .b10 .step {
      margin: 0 -10px;
      max-width: inherit; }
      .b10 .step li {
        width: 20%;
        float: left;
        padding: 0 10px; } }
  @media (min-width: 1210px) {
    .b10 .step {
      padding-top: 20px;
      background: url("../img/step-line.png") 50% 0 no-repeat; }
      .b10 .step li:nth-child(1) {
        width: 230px; }
      .b10 .step li:nth-child(2) {
        width: 242px; }
      .b10 .step li:nth-child(3) {
        width: 240px; }
      .b10 .step li:nth-child(4) {
        width: 240px; }
      .b10 .step li:nth-child(5) {
        width: 210px; }
      .b10 .step li .step-icon {
        margin-bottom: 55px; } }

.b11 {
  position: relative;
  background: #c8181e; }
  .b11 .map {
    height: 400px;
    position: relative; }
    .b11 .map:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      content: '';
      position: absolute; }
  .b11 .contact {
    z-index: 20;
    color: #fff;
    margin: 0 auto;
    max-width: 460px;
    padding: 30px 20px;
    background: #c8181e; }
    .b11 .contact h2 {
      color: #fff;
      margin-bottom: 10px; }
    .b11 .contact .subtitle {
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 35px;
      text-align: center; }
    .b11 .contact .btn {
      width: 100%; }
    .b11 .contact p {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      padding-top: 30px;
      margin-bottom: 0; }
  @media (min-width: 768px) {
    .b11 .map {
      height: 500px; } }
  @media (min-width: 992px) {
    .b11 {
      background: transparent; }
      .b11 .map {
        height: 642px; }
      .b11 .contact {
        width: 460px;
        top: 40px;
        left: 15px;
        position: absolute;
        padding: 40px 30px;
        max-width: inherit;
        border: 15px solid #fff; }
        .b11 .contact h2 {
          margin-left: -15px;
          margin-right: -15px; } }
  @media (min-width: 1210px) {
    .b11 .map {
      height: 720px; }
      .b11 .map:before {
        display: none; }
    .b11 .contact {
      top: 25px;
      width: 670px;
      height: 670px;
      border: 23px solid #fff;
      padding: 100px 105px 60px 105px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .b11 .contact p {
        width: 230px;
        margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
