* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;

	span {
		color: #c8181e;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 40px;
	}

	@media (min-width: $screen-md-min) {
		font-size: 48px;
	}
}


p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



.slider-nav {
	top: 50%;
	width: 11px;
	height: 49px;
	cursor: pointer;
	margin-top: -25px;
	position: absolute;
	display: inline-block;
	background: url("../img/slider-arrow.png") no-repeat;

	&.prev {
		left: 0;
		background-position: 0 0;

		&:hover {
			background-position: 0 -49px;
		}
	}

	&.next {
		right: 0;
		background-position: -11px 0;
		&:hover {
			background-position: -11px -49px;
		}
	}
}


.modal {
	color: #fff;
	background: #c8181e;
	max-width: 320px;
	padding: 30px 20px;

	.btn {
		width: 100%;
	}

	h2 {
		margin-bottom: 10px;
	}

	h3 {
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		line-height: 1.1;
		margin-bottom: 30px;
	}

	.subtitle {
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 35px;
		text-align: center;
	}

	p {
		margin: 0 auto;
		padding-top: 25px;
		text-align: center;
		max-width: 260px;
	}

	.form-text {
		font-size: 16px;
		font-weight: 200;
		line-height: 22px;
		text-align: center;
		margin-bottom: 40px;
	}

	@media (min-width: $screen-sm-min) {
		width: 460px;
		max-width: inherit;
		padding: 30px 40px;
		border: 20px solid #fff;
	}


	@media (min-width: $screen-md-min) {
		width: 630px;
		height: 630px;
		padding: 100px 80px 50px 80px;
		@include border-radius(50%);
	}


	@media (min-width: $screen-lg-min) {

	}
}

.fancybox-skin {
	background: transparent;
}

.fancybox-opened .fancybox-skin {
	@include box-shadow(none);
}
