.b10 {
	color: #fff;
	padding: 70px 0 30px 0;
	background: url("../img/b10_bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	h2 {
		color: #fff;
		margin-bottom: 70px;
	}

	.step {
		max-width: 360px;
		margin: 0 auto;

		li {
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;
			text-align: center;
			margin: 0 0 40px 0;

			.step-icon {
				width: 110px;
				margin: 0 auto 15px auto;
			}

			span {
				display: block;
			}

			p {
				margin-bottom: 10px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.step {
			margin: 0 -10px;
			max-width: inherit;

			li {
				width: 20%;
				float: left;
				padding: 0 10px;

			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		.step {
			padding-top: 20px;
			background: url("../img/step-line.png") 50% 0 no-repeat;

			li {

				&:nth-child(1) {
					width: 230px;
				}

				&:nth-child(2) {
					width: 242px;
				}

				&:nth-child(3) {
					width: 240px;
				}

				&:nth-child(4) {
					width: 240px;
				}


				&:nth-child(5) {
					width: 210px;
				}

				.step-icon {
					margin-bottom: 55px;
				}
			}
		}
	}
}
