.b06 {
	color: #fff;
	overflow: hidden;
	padding: 60px 0;
	max-width: 100%;
//	background: url("../img/b06_bg.jpg") 50% 0 no-repeat;


	h2 {
		color: #fff;
		margin-bottom: 10px;
	}

	.subtitle {
		max-width: 640px;
		font-size: 30px;
		font-weight: 300;
		line-height: 1.166;
		text-align: center;
		padding-bottom: 40px;
		margin: 0 auto 45px auto;
		background: url("../img/b06_subtitle_bg.png") 50% 100% no-repeat;
	}

	.form-group {
		margin-bottom: 20px;
	}

	p {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
	}

	.btn {

		i {
			padding: 15px 15px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.subtitle {
			font-size: 30px;
		}
	}

	@media (min-width: $screen-md-min) {

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}