.b09 {
	background: #fff;
	padding-top: 60px;
	padding-bottom: 50px;

	h2 {
		margin-bottom: 50px;
	}

	.review {
		padding:  0 20px;
		position: relative;

		.review-item {
			border: none;
			outline: none;
			padding: 0 10px;

			a {
				outline: none;
				display: block;
				margin-bottom: 15px;
			}

			h4 {
				font-size: 20px;
				font-weight: 700;
				line-height: 26px;
				margin-bottom: 5px;
			}

			p {
				font-size: 16px;
				font-weight: 300;
				line-height: 22px;
				margin-bottom: 0;
			}
		}

		.slider-nav {
			top: 60px;
			margin-top: 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 40px;

		h2 {
			margin-bottom: 100px;
		}

		.review {
			padding: 0 25px;

			.review-item {
				padding:  0 25px;
			}
		}
	}
}
