.b05 {
	max-width: 100%;
	overflow: hidden;
	background: #f3f3f3;
	position: relative;

	.container {
		padding-top: 80px;
		padding-bottom: 30px;
	}

	.bg-image {
		z-index: 5;
		width: 400px;
		height: 640px;
		bottom: 0;
		display: none;
		position: absolute;
		background: url("../img/b05_man.png") 0 0 no-repeat;
	}


	.content {
		z-index: 20;
		position: relative;
	}

	h2 {
		margin-bottom: 40px;
	}

	.text {
		font-size: 20px;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 40px;
		text-align: center;
	}

	.rows {

		> li {

			&:last-child {
				display: none;
			}
		}
	}


	.progress {
		width: 99px;
		height: 518px;
		position: relative;
		margin-top: -20px;
		background: url("../img/progress_bar.png") 0 0 no-repeat;

		.progress-bar {
			left: 0;
			bottom: 0;
			width: 99px;
			height: 20px;
			position: absolute;
			background: url("../img/progress_bar_bg.png") 0 100% no-repeat;
			@include transition(2s);

			&.scroll-animated {
				height: 463px;
				@include transition(2s);
			}
		}


		.progress-text {
			left: 65px;
			top: -105px;
			width: 255px;
			height: 107px;
			position: absolute;
			background: url("../img/b05_progress_text.png") 0 0 no-repeat;
		}
	}

	.features {
		margin: 0 auto;
		max-width: 240px;

		li {
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;
			text-align: center;
			margin-bottom: 55px;

			.features-icon {
				width: 147px;
				margin: 0 auto 20px auto;
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.text {
			font-size: 30px;
		}

		.features {
			max-width: inherit;

			li {
				width: 50%;
				float: left;
				padding: 0 40px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		background-position: 45% 100%;

		.bg-image {
			right: -150px;
			display: block;
		}

		h2 {
			float: right;
			max-width: 760px;
			text-align: right;
			margin-bottom: 70px;
		}

		.text {
			margin-bottom: 0;
			text-align: left;
		}

		.rows {

			> li {
				float: left;

				&:first-child {
					width: 490px;
					padding-top: 80px;
				}

				&:last-child {
					display: block;
					padding-left: 50px;
				}
			}
		}

		.features {
			margin: 0 -30px;

			li {
				padding: 0 30px;
			}
		}

		.progress {

		}
	}

	@media (min-width: $screen-lg-min) {
		background-position: 50% 100%;

		.bg-image {
			right: 0;
		}
	}
}