.b11 {
	position: relative;
	background: #c8181e;

	.map {
		height: 400px;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
			content: '';
			position: absolute;
		}
	}

	.contact {
		z-index: 20;
		color: #fff;
		margin: 0 auto;
		max-width: 460px;
		padding: 30px 20px;
		background: #c8181e;

		h2 {
			color: #fff;
			margin-bottom: 10px;
		}

		.subtitle {
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 35px;
			text-align: center;
		}

		.btn {
			width: 100%;
		}

		p {
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			text-align: center;
			padding-top: 30px;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-sm-min) {

		.map {
			height: 500px;
		}
	}

	@media (min-width: $screen-md-min) {
		background: transparent;

		.map {
			height: 642px;
		}

		.contact {
			width: 460px;
			top: 40px;
			left: 15px;
			position: absolute;
			padding: 40px 30px;
			max-width: inherit;
			border: 15px solid #fff;

			h2 {
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.map {
			height: 720px;

			&:before {
				display: none;
			}
		}

		.contact {
			top: 25px;
			width: 670px;
			height: 670px;
			border: 23px solid #fff;
			padding: 100px 105px 60px 105px;
			@include border-radius(50%);

			p {
				width: 230px;
				margin: 0 auto;
			}
		}
	}
}