.b07 {
	background: #fff;
	padding-top: 70px;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 70px;

	.heading-logo {
		width: 80px;
		margin: 0  auto 30px auto;
	}

	h2 {
		max-width: 820px;
		margin: 0 auto 60px auto;
	}

	.service {
		margin-bottom: 90px;

		&.service-one {
			background: url("../img/serivce-one.jpg") 50% 0 no-repeat;

			.service-text {

				.text {
					max-width: 395px;
				}
			}
		}

		&.service-two {
			background: url("../img/serivce-two.jpg") 50% 0 no-repeat;
		}

		.service-text {
			margin-bottom: 60px;

			h3 {
				font-size: 25px;
				font-weight: 700;
				line-height: 1.2;
				margin-bottom: 10px;

				span {
					color: #c8181e;
				}
			}


			.text {
				font-size: 18px;
				font-weight: 300;
				line-height: 23px;
				margin-bottom: 50px;
			}

			ul {
				margin-bottom: 40px;

				li {
					font-size: 16px;
					font-weight: 300;
					line-height: 22px;
					padding-left: 40px;
					position: relative;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}

					&:before {
						top: 2px;
						left: 0;
						content: '';
						width: 18px;
						height: 18px;
						position: absolute;
						background: #c8181e;
						@include border-radius(50%);
					}
				}
			}
		}

		.service-promo {
			color: #fff;
			padding: 35px 30px;
			background: #c8181e;
			@include border-radius(7px);
			@include box-shadow(0px 0px 30px 0px rgba(200, 24, 30, 0.6));

			.promo-title {
				font-size: 18px;
				font-weight: 300;
				line-height: 23px;
				max-width: 250px;
				margin-bottom: 35px;
			}

			ul {
				padding-left: 20px;
				border-left: 2px solid #fff;

				li {
					font-size: 16px;
					font-weight: 300;
					line-height: 22px;
					margin-bottom: 22px;
				}
			}
		}
	}

	.price {
		width: 100%;
		min-width: 600px;
		margin-bottom: 45px;

		tr {

			&:nth-child(1) {

				td {
					&:nth-child(1) {
						background: transparent;
					}

					&:nth-child(2) {
						@include border-radius(7px 7px 0 0);
					}
				}
			}
		}

		td {
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;
			vertical-align: middle;
			border-bottom: 1px solid #c8181e;

			&:nth-child(1) {
				text-align: left;
				padding: 15px 10px 15px 40px;
				background: url("../img/price-bullet.jpg") 0 17px no-repeat;

				p {
					margin-bottom: 0;
					font-weight: 700;
				}

				ul {
					margin-left: 20px;
				}
			}

			&:nth-child(2) {
				color: #fff;
				width: 25%;
				font-size: 20px;
				padding: 15px 10px;
				text-align: center;
				background: #c8181e;
				border-bottom-color: #fff;
				@include box-shadow(0px 0px 30px 0px rgba(200, 24, 30, 0.6))
			}

			&:nth-child(3) {
				width: 25%;
				font-size: 20px;
				text-align: center;
				padding: 15px 10px;

				span {
					text-decoration: line-through;
				}
			}
		}

		.price-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
			max-width: 370px;

			span {
				color: #c8181e;
			}
		}

		.price-action {

			strong {
				font-size: 24px;
				font-weight: 700;
				line-height: 28px;
				display: block;
			}

			span {
				font-size: 16px;
				font-weight: 300;
				line-height: 22px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 120px;

		.heading-logo {
			width: 100px;
			margin-bottom: 50px;
		}

		h2 {
			margin-bottom: 100px;
		}

		.service {

			.service-text {
				float: left;
				width: 320px;
				margin-bottom: 0;
			}

			.service-promo {
				float: right;
				width: 360px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.service {
			margin-bottom: 130px;

			&.service-two {

				.service-text {

					ul {
						margin-bottom: 80px;
					}
				}
			}

			.service-text {
				float: left;
				width: 440px;
				margin-bottom: 0;

				ul {
					margin-bottom: 60px;
				}
			}

			.service-promo {
				width: 440px;
				background: #c8181e url("../img/b07_f.png") 100% 0 no-repeat;
			}
		}

		.price {

			td {
				&:nth-child(1) {

					ul {
						margin-left: 40px;
					}
				}

				&:nth-child(2) {
					font-size: 25px;
					line-height: 30px;
				}

				&:nth-child(3) {
					font-size: 25px;
					line-height: 30px;
				}
			}

			.price-title {
				font-size: 35px;
				line-height: 42px;
			}

			.price-action {

				strong {
					font-size: 35px;
					line-height: 40px;
				}

				span {

				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		.service {

			.service-text {
				width: 520px;

				h3 {
					font-size: 35px;
				}
			}

			.service-promo {
				width: 490px;
				margin-right: 40px;
				padding: 40px 40px;

			}
		}
	}
}