
.b01 {
	color: #fff;
	background: #fff;
	position: relative;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 15;
		position: absolute;
		background: rgba(30,30,30, 0.9);
	}

	&:after {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		content: '';
		height: 120px;
		position: absolute;
		background: url("../img/b01_pattern.png") 50% 100% no-repeat;
	}

	.inner {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		display: none;
		position: absolute;

		.video-inner {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
		}
	}

	.container {
		z-index: 100;
	}

	.top {
		margin-bottom: 90px;

		.logo {
			width: 140px;
			margin: 0 auto 10px auto;
		}

		.logo-text {
			font-size: 18px;
			font-weight: 300;
			line-height: 22px;
			text-align: center;
			margin-bottom: 10px;
		}

		.contact {
			text-align: center;

			li {

				&:last-child {
					margin-bottom: 0;
				}

				.btn-callback {
					color: #fff;
					font-size: 18px;
					font-weight: 300;
					line-height: 18px;
					padding-bottom: 2px;
					margin-bottom: 5px;
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px dotted #fff;

					&:hover {
						color: #c8181e;
						border-color: #c8181e;
					}
				}

				.tel {
					color: #fff;
					margin: 10px 0;
					font-size: 26px;
					line-height: 36px;
					text-decoration: none;
					display: inline-block;
					padding: 10px 0 10px 60px;
					background: url("../img/icon-telephone.png") 0 50% no-repeat;
				}

				.address {
					font-size: 16px;
					font-weight: 300;
					line-height: 20px;
				}
			}
		}
	}

	h1 {
		font-size: 30px;
		font-weight: 700;
		line-height: 1.166;
		text-align: center;
		margin-bottom: 15px;
	}

	.subtitle {
		max-width: 760px;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.166;
		text-align: center;
		margin: 0 auto 50px auto;
	}

	.btn {
		margin-bottom: 80px;
	}

	.btn-down {
		width: 68px;
		height: 68px;
		border: none;
		outline: none;
		text-decoration: none;
		display: inline-block;
		background: url("../img/icon-down.png") 0 0 no-repeat;
	}


	@media (min-width: $screen-sm-min) {
		padding-top: 40px;
		padding-bottom: 60px;

		.top {
			margin-bottom: 140px;

			.logo {
				float: left;
				width: 146px;
				margin: 0 30px 0 0;
			}

			.logo-text {
				float: left;
				text-align: left;
				margin: 30px 0 0 0;
				padding-left: 20px;
				border-left: 2px solid #fff;

				span {
					display: block;
				}
			}

			.contact {
				float: right;
				text-align: right;

				li {

					.btn-callback {

					}

					.tel {
						margin: 0;
						font-size: 35px;
					}

					.address {
						max-width: 210px;
						display: inline-block;
					}
				}
			}
		}

		h1 {
			font-size: 50px;
		}

		.subtitle {
			font-size: 30px;
			margin-bottom: 70px;
		}

		.btn {
			margin-bottom: 140px;
		}

	}

	@media (min-width: $screen-md-min) {


		h1 {
			font-size: 60px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.inner {
			display: block;
		}
	}
}



video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
	video {
		height: 300%; top: -100%;
	}

}

@media (max-aspect-ratio: 16/9) {
	video {
		width: 300%; left: -100%;
	}
}

/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
	video {
		top: 0; left: 0;
		width: 100%; height: 100%;
		object-fit: cover;
	}
}