.b02 {
	background: #fff;
	padding-top: 65px;

	.heading-logo {
		width: 80px;
		margin: 0  auto 30px auto;
	}

	h2 {
		max-width: 820px;
		margin: 0 auto 60px auto;
	}

	.advantage {

		li {
			padding: 0 15px;
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;
			text-align: center;
			margin-bottom: 40px;

			span {
				width: 150px;
				display: block;
				margin: 0 auto 25px auto;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 60px;

		.heading-logo {
			width: 100px;
			margin-bottom: 60px;
		}

		h2 {
			margin-bottom: 100px;
		}

		.advantage {
			margin: 0 -15px;

			li {
				width: 25%;
				float: left;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		.advantage {
			margin: 0;

			li {
				padding: 0 40px;
			}
		}
	}
}