.b03 {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 70px;

	.heading {
		font-size: 25px;
		font-weight: 700;
		line-height: 35px;
		margin-bottom: 10px;
	}

	.partners {
		padding: 0 40px;
		position: relative;

		.partners-item {

			img {
				margin: 0 auto;
				max-width: 100px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.heading {
			float: left;
			width: 170px;
		}

		.partners {
			width: 520px;
			float: right;
		}
	}

	@media (min-width: $screen-md-min) {

		.partners {
			width: 740px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.partners {
			width: 956px;
		}
	}
}