.b04 {
	max-width: 100%;
	overflow: hidden;
	background: url("../img/b04_bg.jpg") 65% 0 no-repeat;
	background-size: cover;

	.container {
		padding-top: 70px;
		padding-bottom: 40px;
	}

	.content {
		z-index: 20;
		position: relative;
	}

	.bg-image {
		z-index: 5;
		width: 443px;
		height: 665px;
		bottom: 0;
		display: none;
		position: absolute;
		background: url("../img/b04_man.png") 0 0 no-repeat;
	}

	h2 {
		text-align: left;
		max-width: 690px;
		margin-bottom: 40px;
	}

	.problems {

		li {
			font-size: 18px;
			font-weight: 300;
			line-height: 26px;
			padding-left: 40px;
			position: relative;
			margin-bottom: 20px;

			&:before {
				top: 2px;
				left: 0;
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				background: #c8181e;
				display: inline-block;
				@include border-radius(50%);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		background-size: auto;
		background-position: 50% 0;

		.container {
			height: 960px;
			padding-top: 90px;
		}

		.bg-image {
			left: -190px;
			display: block;
		}

		h2 {
			margin-bottom: 80px;
		}

		.problems {
			margin-left: 200px;
		}
	}

	@media (min-width: $screen-md-min) {

		.container {
			padding-top: 130px;
		}

		.bg-image {
			left: 10px;
		}

		.problems {
			margin-left: 400px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.problems {
			margin-left: 600px;
		}
	}
}