.b08 {
	padding-top: 80px;
	padding-bottom: 30px;
	background: #f3f3f3;

	h2 {
		margin-bottom: 60px;
	}

	.reason {
		max-width: 360px;
		margin: 0 auto;

		li {
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;
			text-align: center;
			position: relative;
			margin-bottom: 45px;
			padding: 110px 0 0 0;

			.reason-icon {
				top: 0;
				left: 50%;
				width: 100px;
				margin-left: -50px;
				position: absolute;
			}

			h4 {
				font-size: 21px;
				font-weight: 700;
				line-height: 28px;
				margin-bottom: 15px;
			}

			p {
				margin-bottom: 15px;
			}

			a {
				color: #c8181e;
				text-decoration: none;
				display: inline-block;
				border-bottom: 1px dotted #c8181e;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 110px;
		background: #fff url("../img/b08_bg.png") 50% 0 no-repeat;
		background-size: auto auto;

		h2 {
			text-align: left;
			display: inline-block;
			margin-bottom: 90px;
			padding-right: 95px;
			background: url("../img/b08_heading_bg.png") 100% 50% no-repeat;
		}

		.reason {
			max-width: 880px;

			li {
				float: left;
				width: 50%;
				text-align: left;
				padding: 80px 20px 0 105px;

				&.double-line {
					padding-top: 52px;
				}

				.reason-icon {
					left: 0;
					margin-left: 0;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}