@font-face {
	font-family: 'fira_sans';
	src: url('../fonts/fira/firasans-light.eot');
	src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-light.woff') format('woff'),
	url('../fonts/fira/firasans-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sans';
	src: url('../fonts/fira/firasans-regular.eot');
	src: url('../fonts/fira/firasans-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-regular.woff') format('woff'),
	url('../fonts/fira/firasans-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sans';
	src: url('../fonts/fira/firasans-bold.eot');
	src: url('../fonts/fira/firasans-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-bold.woff') format('woff'),
	url('../fonts/fira/firasans-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
