.footer {
	color: #dee1e3;
	padding: 30px 0;
	background: #1e1e1e;
	text-align: center;

	.footer-logo {
		width: 140px;
		margin: 0 auto 25px auto;
	}

	.footer-contact {
		margin-bottom: 25px;

		li {
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			position: relative;
			margin-bottom: 13px;


			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #dee1e3;
				text-decoration: none;
			}
		}
	}

	.footer-text {
		font-size: 15px;
		font-weight: 300;
		line-height: 22px;

		p {
			margin-bottom: 20px;
		}
	}

	.footer-copyright {
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {
		text-align: left;

		.footer-logo {
			float: left;
			width: 146px;
			margin: 0 75px 25px 0;
		}

		.footer-contact {
			float: right;
			width: 480px;
			padding-top: 10px;

			li {
				padding-left: 45px;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 18px;
					height: 18px;
					background: #fff;
					position: absolute;
					display: inline-block;
					@include border-radius(50%);
				}
			}
		}

		.footer-text {
			width: 100%;
			float: left;
		}

		.footer-copyright {
			text-align: right;
		}
	}

	@media (min-width: $screen-md-min) {

		.footer-logo {
			margin-bottom: 0;
		}

		.footer-contact {
			float: left;
			width: 300px;
			margin-bottom: 0;
		}

		.footer-text {
			float: right;
			width: 400px;
			padding-top: 10px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.footer-text {
			width: 560px;
		}
	}
}