.btn {
	border: none;
	outline: none;
	position: relative;
	display: inline-block;
	background: transparent;
	overflow: hidden !important;
	@include border-radius(30px);

	i {
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		outline: none;
		overflow: hidden;
		font-style: normal;
		position: relative;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		padding: 15px 30px;
		display: inline-block;
		border: 3px solid transparent;
		@include border-radius(30px);
	}

	span {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: width 0.4s, height 0.4s;
		transition: width 0.4s, height 0.4s;
		z-index: -1;
	}

	&:hover {

		span {
			width: 1000px;
			height: 1000px;
		}
	}

	&:active {
		top: 1px;
	}

	@media (min-width: $screen-sm-min) {

		i {
			font-size: 18px;
		}
	}
}

.btn-red {
	color: #fff;

	i {
		color: #c8181e;
		border-color: #c8181e;
	}

	span {
		background: #c8181e;
	}

	&:hover {
		color: #fff;

		i {
			color: #fff;
			border-color: #c8181e;
		}
	}

	&:active {

		i {
			background: #c8181e;
			border-color: #c8181e;
		}

		span {
			background: #c8181e;
		}
	}
}

.btn-white {
	color: #fff;

	i {
		color: #fff;
		border-color: #fff;
	}

	span {
		background: #fff;
	}

	&:hover {
		color: #1e1e1e;

		i {
			color: #1e1e1e;
			border-color: #fff;
		}
	}

	&:active {

		i {
			background: #fff;
			border-color: #c8181e;
		}

		span {
			background: #fff;
		}
	}
}

.btn-dark {
	color: #fff;

	i {
		color: #fff;
		border-color: #c8181e;
	}

	span {
		background: #c8181e;
	}

	&:hover {
		color: #fff;

		i {
			border-color: #c8181e;
		}
	}

	&:active {

		i {
			background: #c8181e;
			border-color: #c8181e;
		}

		span {
			background: #c8181e;
		}
	}
}

.btn-md {
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {

		i {
			font-size: 20px;
		}
	}
}

.btn-sm {

	i {
		font-size: 16px;
		padding: 8px 20px;
	}

	@media (min-width: $screen-sm-min) {

		i {
			font-size: 16px;
		}
	}
}

@-webkit-keyframes criss-cross-left {
	0% {
		left: -20px;
	}
	50% {
		left: 50%;
		width: 20px;
		height: 20px;
	}
	100% {
		left: 50%;
		width: 375px;
		height: 375px;
	}
}
@keyframes criss-cross-left {
	0% {
		left: -20px;
	}
	50% {
		left: 50%;
		width: 20px;
		height: 20px;
	}
	100% {
		left: 50%;
		width: 375px;
		height: 375px;
	}
}
@-webkit-keyframes criss-cross-right {
	0% {
		right: -20px;
	}
	50% {
		right: 50%;
		width: 20px;
		height: 20px;
	}
	100% {
		right: 50%;
		width: 375px;
		height: 375px;
	}
}
@keyframes criss-cross-right {
	0% {
		right: -20px;
	}
	50% {
		right: 50%;
		width: 20px;
		height: 20px;
	}
	100% {
		right: 50%;
		width: 375px;
		height: 375px;
	}
}
