.form-control {
	margin: 0;
	width: 100%;
	color: #929292;
	outline: none;
	font-size: 15px;
	line-height: 18px;
	background: #fff;
	display: inline-block;
	border: 1px solid #fff;
	padding: 20px 20px 20px 65px;
	@include placeholder(#929292);
	@include border-radius(30px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #1e1e1e;
		@include placeholder(transparent);
		@include box-shadow(0px 0px 10px 0px rgba(255, 255, 255, 0.5));
	}

	&.form-user {
		background: #fff url("../img/icon-user.png") 18px 0 no-repeat;
	}

	&.form-phone {
		background: #fff url("../img/icon-phone.png") 18px 0 no-repeat;
	}
}

.red {

	.form-control {
		color: #c8181e;
		@include placeholder(#c8181e);

		&.form-user {
			background-position: 18px -60px;
		}

		&.form-phone {
			background-position:  18px -60px;
		}
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 12px;
}