@media (max-width: 600px) {

	.table-responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-bottom: 25px;
		border: 1px solid #f1f1f1;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}
